/* Global Styles */

* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 60px;
  font-weight: 900;
  color: #fafafa;
}

h2 {
  font-size: 50px;
  font-weight: 600;
  color: #f5f5f5;
}

h3 {
  font-size: 40px;
  color: #f5f5f5;
}

h4 {
  font-size: 30px;
  color: #f0f0f0;
}

h5 {
  font-size: 20px;
  color: #f0f0f0;
}

p {
  font-size: 16px;
  color: #e0e0e0;
  opacity: 0.8;
}

@media (max-width: 1300px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 14px;
  }
}

@media (max-width: 410px) {
  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 12px;
  }
}

/* Navigation Styles */

header {
    background-color: #405958;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 200px 0px 200px;
  }
  
  nav img {
    width: 100px;
    background-color: #577171;
    padding: 10px 20px 10px 20px;
    border-radius: 40px;
  }
  
  nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    width: 10%;
    height: 88.33px;
    background-color: #577171;
    padding: 0px 20px 0px 20px;
    border-radius: 40px;
  }
  
  nav ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #fafafa;
    transition: 0.5s;
  }
  
  nav ul li a:hover {
    background-color: #f9d2aa;
    padding: 10px 20px 10px 20px;
    border-radius: 40px;
    color: #252c2d;
  }

  .nav-back {
    display: none;
  }

  @media (max-width: 1820px) {
    nav ul li a {
      font-size: 16px;
    }
  }

  @media (max-width: 1600px) {
    nav {
      padding: 0px 100px 0px 100px;
    }

    nav img {
      width: 80px;
    }
  
    .nav-menu {
      height: 74.66px;
      padding: 0px 15px 0px 15px;
    }

    nav ul {
      height: 74.66px;
    }
  }

  @media (max-width: 1420px) {
    nav {
      padding: 0px 50px 0px 50px;
    }
  }

  @media (max-width: 1240px) {
    nav ul {
      width: 20%;
    }
  }

  @media (max-width: 900px) {
    .nav-to-page {
      display: none;
    }

    .nav-back {
      display: block;
    }

    nav {
      padding: 0px 10px 0px 10px;
    }
  }

  /* Content Container */

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 200px 200px 200px 200px;
    background-color: #405958;
  }

  @media (max-width: 1600px) {
    main {
      padding: 100px;
    }
  }

  @media (max-width: 1420px) {
    main {
      padding: 50px;
    }
  }

  @media (max-width: 1090px) {
    main {
      flex-direction: column;
    }
  }
  
  /* Contact Write up Section */
  
  .contact {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
  }
  
  .title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 50px;
  }
  
  @media (max-width: 1090px) {
    .contact {
      width: 100%;
      align-items: center;
      justify-content: center;
    }

    .title {
      align-items: center;
    }

    .title p {
      text-align: center;
    }
  }

  /* Resources */
  
  .resources-section {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
  }
  
  .resource-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 90%;
  }
  
  .resource-links-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
  }

  .resource-links-container a {
    font-size: 16px;
    color: #e0e0e0;
    opacity: 0.8;
  }
  
  .resource a {
    font-size: 16px;
    color: #e0e0e0;
    opacity: 0.8;
  }

  @media (max-width: 1845px) {
    .resource-container {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding-bottom: 80px;
    }
  }

  @media (max-width: 1090px) {
    .resources-section {
      align-items: center;
    }

    .resource-container {
      align-items: center;
      width: 100%;
    }

    .resource-links-container {
      align-items: center;
    }
  }

  @media (max-width: 410px) {
    .resource-container a {
      font-size: 12px;
    }
  }
  
  /* Form */
  
  .form-section {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 50%;
  }
  
  form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
  }
  
  input {
    border: none;
    border-radius: 30px;
    margin-bottom: 20px;
    padding: 15px 20px 15px 20px;
    width: 300px;
    background-color: #577171;
  }
  
  textarea {
    height: 150px;
    width: 600px;
    border-radius: 15px;
    padding: 15px 20px 15px 20px;
    background-color: #577171;
    border-style: none;
  }
  
  button {
    font-size: 20px;
    font-weight: 600;
    color: #252c2d;
    background-color: #577171;
    border: none;
    border-radius: 30px;
    padding: 15px 40px 15px 40px;
    transition: 0.5s;
  }

  button:hover {
    background-color: #f9d2aa;
  }
  
  label {
    color: #f0f0f0;
    font-weight: 600;
    font-size: 20px;
  }

  @media (max-width: 1300px) {
    label {
      font-size: 16px;
    }

    input {
      width: 200px;
    }

    textarea {
      width: 450px;
    }

    button {
      font-size: 16px;
    }
  }

  @media (max-width: 1090px) {
    .form-section {
      width: 100%;
    }

    form {
      align-items: center;
      width: 100%;
    }

    input {
      width: 40em;
    }

    textarea {
      width: 40em;
    }
  }

  @media (max-width: 640px) {
    input {
      width: 30em;
    }

    textarea {
      width: 30em;
    }
  }

  @media (max-width: 500px) {
    input {
      width: 20em;
    }

    textarea {
      width: 20em;
    }
  }

  @media (max-width: 350px) {
    input {
      width: 17em;
    }

    textarea {
      width: 17em;
    }
  }

  /* Footer */

  footer {
    background-color: #405958;
  }
  
  footer section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px 0px 200px;
    padding: 20px 60px 20px 60px;
    border-radius: 100px;
    background-color: #577171;
  }
  
  footer h3 {
    font-size: 20px;
  }
  
  footer h4 {
    font-size: 16px;
  }
  
  footer h5 {
    font-size: 14px;
  }
  
  footer a {
    font-size: 14px;
    color: #e0e0e0;
  }
  
  .footer-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
  }
  
  .footer-contact img {
    width: 100px
  }
  
  .footer-quote {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 70%;
  }

  @media (max-width: 1600px) {
    footer section {
      margin: 0px 100px 0px 100px;
    }
  }

  @media (max-width: 1420px) {
    footer section {
      margin: 0px 50px 0px 50px;
    }
  }

  @media (max-width: 900px) {
    footer section {
      margin: 0px 10px 0px 10px;
    }

    .footer-quote {
      width: 60%;
    }
  }

  @media (max-width: 680px) {
    footer section {
      margin: 0px 30px 0px 30px;
    }
  
    footer h3 {
      font-size: 14px;
    }
  
    footer h4 {
      font-size: 10px;
    }
  
    footer h5 {
      font-size: 11px;
    }
  
    footer a {
      font-size: 9px;
    }
  
    footer img {
      width: 70px;
    }
  
    .footer-quote {
      width: 50%;
    }
  }

  @media (max-width: 520px) {
    footer section {
      flex-direction: column;
    }
  
    .footer-contact {
      width: 100%;
      margin-bottom: 20px;
    }
  
    .footer-quote {
      width: 100%;
    }
  }