/* Global Styles */

* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 60px;
  font-weight: 900;
  color: #fafafa;
}

h2 {
  font-size: 50px;
  font-weight: 600;
  color: #f5f5f5;
}

h3 {
  font-size: 40px;
  color: #f5f5f5;
}

h4 {
  font-size: 30px;
  color: #f0f0f0;
}

h5 {
  font-size: 20px;
  color: #f0f0f0;
}

p {
  font-size: 16px;
  font-weight: 500;
  color: #e0e0e0;
}

@media (max-width: 2080px) {
  h2 {
    font-size: 40px;
  }
  
  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 15px;
  }

  p {
    font-size: 14px;
  }
}

@media (max-width: 1700px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 40px;
  }
}

@media (max-width: 1400px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 14px;
  }
}

/* Header Styles */

#home {
  background-color: #405958;
  height: 100vh;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 200px 0px 200px;
}

nav img {
  width: 100px;
  background-color: #577171;
  padding: 10px 20px 10px 20px;
  border-radius: 40px;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  width: 40%;
  height: 88.33px;
  background-color: #577171;
  padding: 0px 20px 0px 20px;
  border-radius: 40px;
}

nav ul li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: #fafafa;
  transition: 0.5s;
}

nav ul li a:hover {
  background-color: #f9d2aa;
  color: #252c2d;
  padding: 10px 20px 10px 20px;
  border-radius: 40px;
}

.home-page {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 50px 200px 0px 200px;
  padding-left: 150px;
  padding-right: 150px;
  border-radius: 80px;
  height: 80%;
  background-image: url(public/banner.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.home-page a {
  font-size: 20px;
  font-weight: 600;
  color: #252c2d;
  background-color: #f5f5f5;
  text-decoration: none;
  border: none;
  border-radius: 30px;
  padding: 15px 40px 15px 40px;
  transition: 0.5s;
}

.home-page a:hover {
  background-color: #f9d2aa;
}

@media (max-width: 1700px) {
  nav img {
    width: 80px;
  }

  .nav-menu {
    height: 74.66px;
    padding: 0px 15px 0px 15px;
  }

  nav ul li a {
    font-size: 15px;
  }

  .home-page a {
    font-size: 15px;
    padding: 10px 25px 10px 25px;
  }
}

@media (max-width: 1400px) {

  nav {
    margin: 0px 100px 0px 100px;
  }

  .home-page {
    padding: 0px 100px 0px 100px;
    margin: 40px 100px 0px 100px;
  }
}

@media (max-width: 1000px) {
  nav {
    margin: 0px 80px 0px 80px;
  }

  .home-page {
    margin: 30px 80px 0px 80px;
    padding: 0px 80px 0px 80px;
  }
}

@media (max-width: 900px) {
  nav {
    margin: 0px 30px 0px 30px;
  }

  .home-page {
    margin: 20px 30px 0px 30px;
    padding: 0px 30px 0px 30px;
  }
}

/* Mobile Menu */

.hamburger {
  display: none;
  cursor: pointer;
  background-color: #577171;
  padding: 0px 20px 0px 20px;
  border-radius: 40px;
  height: 74.66px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 3px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fafafa;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -110%;
    top: 0px;
    gap: 0;
    flex-direction: column;
    background-color: #577171;
    width: 100%;
    height: 100%;
    border-radius: 0px;
    text-align: center;
    transition: 0.3s;
  }

  .nav-menu li {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}

/* Statement From Tessa */

.statement-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 200px 200px 100px 200px;
  background-color: #405958;
}

.statement-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 20%;
}

.statement {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #577171;
  width: 30%;
  height: 200px;
  padding: 40px 40px 40px 40px;
  border-radius: 60px;
}

.statement p::first-letter {
  color: #f9d2aa;
  font-size: 25px;
  font-weight: 600;
}

@media (max-width: 1700px) {
  .statement {
    height: 250px;
  }
}

@media (max-width: 1400px) {
  .statement-container {
    padding: 100px 100px 100px 100px;
  }
}

@media (max-width: 1150px) {
  .statement-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .statement-title {
    align-items: center;
    justify-content: center;
    padding-bottom: 25px;
    width: 100%;
  }

  .statement {
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
  }
}

@media (max-width: 900px) {
  .statement-container {
    margin: 0px 30px 0px 30px;
  }
}

@media (max-width: 680px) {
  .statement {
    height: 250px;
  }
}

/* Services & Pricing */

#services {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px 200px 100px 200px;
  background-color: #405958;
}

.services-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 25px;
}

.services-title p {
  font-size: 10px;
}

.services-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.service {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #577171;
  width: 550px;
  height: 300px;
  border-radius: 60px;
}

.service-price {
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: #f9d2aa;
  border-width: 3px;
  border-style: solid;
  border-radius: 100%;
  height: 90px;
  width: 90px;
}

@media (max-width: 2080px) {
  .service {
    width: 450px;
    height: 250px;
  }

  .service-price {
    height: 80px;
    width: 80px;
  }
}

@media (max-width: 1780px) {
  .services-container {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  .service {
    width: 100%;
    margin: 0px 0px 20px 0px;
  }
}

@media (max-width: 1400px) {
  #services {
    padding: 100px 100px 100px 100px;
  }
}

/* About */

#about {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 200px 200px 300px 200px;
  background-color: #405958;
}

#about img {
  width: 400px;
  border-radius: 60px;
}

.about-content {
  width: 60%;
  background-color: #577171;
  padding: 40px 40px 40px 40px;
  border-radius: 60px;
}

.about1 p::first-letter {
  color: #f9d2aa;
  font-size: 25px;
  font-weight: 600;
}

@media (max-width: 1700px) {
  #about {
    padding-top: 50px;
  }

  #about img {
    display: none;
  }

  .about-content {
    width: 100%;
  }
}

@media (max-width: 1400px) {
  #about {
    padding: 100px 100px 100px 100px;
  }
}

/* Footer */

footer {
  background-color: #405958;
}

footer section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 200px 0px 200px;
  padding: 20px 60px 20px 60px;
  border-radius: 100px;
  background-color: #577171;
}

footer h3 {
  font-size: 20px;
}

footer h4 {
  font-size: 16px;
}

footer h5 {
  font-size: 14px;
}

footer a {
  font-size: 14px;
  color: #e0e0e0;
}

.footer-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40%;
}

.footer-contact img {
  width: 100px
}

.footer-quote {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 70%;
}

@media (max-width: 1400px) {
  footer section {
    margin: 0px 100px 0px 100px;
  }
}